<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生リスト</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>入学年度</th>
                <th>学籍番号</th>
                <th>氏名</th>
                <th>クラス番号</th>
                <th>在学中</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${StudentList}">
                <td th:text="${student.ent_year}"></td>
                <td th:text="${student.no}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.class_num}"></td>
                <td><span th:if="${student.is_attend}">〇</span><span th:unless="${student.is_attend}">X</span></td>
                <td><a th:href="@{/studentupdate(id=${student.id})}">変更</a></td>
            </tr> 
        </tbody>
    </table>
</body>
</html>
