<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>得点管理システム</title>
</head>
<body>
  <h1>得点管理システム</h1>
  <p>ありがとうございます。</p>
</body>
 <div class="btn-container">
   <div class="col-md-4">
    <a href="/touroku/" class="btn btn-primary btn-block">新規登録</a>
    <a href="/touroku2/" class="btn btn-primary btn-block">新規登録22222</a>
     <a href="/itiran/" class="btn btn-primary btn-block">34444</a>
    </div>
   </div>
</html>
